extends layout

block content
    h1= title
    form#formAddFile(name="addfile", method="post", enctype="multipart/form-data", action="/up/addfile")
        input#inputeFileName(type="file", placeholder="addFileName", name="addFileName")
        button#btnSubmit(type="submit") submit